@{
    ViewBag.Title = "Login";
}

<h2 class="ortala">Login</h2>

@using (Html.BeginForm("Login", "Hesap", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <label for="email">Email</label>
        <input type="text" name="email" required />
    </div>
    <div class="container">
        <label for="password">Password</label>
        <input type="password" name="password" required />
    </div>
    <div class="buton2">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>

    if (!ViewData.ModelState.IsValid)
    {
        <div style="color:red">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
}
